In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(10)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,/a/abba/burning+my+bridges_20003011.html,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,/a/abba/cassandra_20002811.html,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,/a/abba/chiquitita_20002978.html,"Chiquitita, tell me what's wrong \r\nYou're e..."
8,ABBA,Crazy World,/a/abba/crazy+world_20003013.html,I was out with the morning sun \r\nCouldn't s...
9,ABBA,Crying Over You,/a/abba/crying+over+you_20177611.html,I'm waitin' for you baby \r\nI'm sitting all ...

In [4]:
df=df.drop('link',axis=1)

In [5]:
df = df[0:5000]

In [6]:
df.tail()

,artist,song,text
4995,Elvis Costello,Love For Tender,You won't take my love for tender \r\nYou can...
4996,Elvis Costello,Love Went Mad,I've looked at it every way I can \r\nFrom un...
4997,Elvis Costello,Lover's Walk,I won't walk with my head bowed \r\n(Be on) B...
4998,Elvis Costello,Luxembourg,Dressed up like a dog's dinner \r\nButter wou...
4999,Elvis Costello,Men Called Uncle,Now there's newsprint all over your face \r\n...

In [7]:
df.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [8]:
df['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [9]:
df['text'] = df['text'].str.lower()
df

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"look at her face, it's a wonderful face \r\na..."
1,ABBA,"Andante, Andante","take it easy with me, please \r\ntouch me gen..."
2,ABBA,As Good As New,i'll never know why i had to go \r\nwhy i had...
3,ABBA,Bang,making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,making somebody happy is a question of give an...
...,...,...,...
4995,Elvis Costello,Love For Tender,you won't take my love for tender \r\nyou can...
4996,Elvis Costello,Love Went Mad,i've looked at it every way i can \r\nfrom un...
4997,Elvis Costello,Lover's Walk,i won't walk with my head bowed \r\n(be on) b...
4998,Elvis Costello,Luxembourg,dressed up like a dog's dinner \r\nbutter wou...
4999,Elvis Costello,Men Called Uncle,now there's newsprint all over your face \r\n...

In [10]:
df['text'][1]

"take it easy with me, please  \r\ntouch me gently like a summer evening breeze  \r\ntake your time, make it slow  \r\nandante, andante  \r\njust let the feeling grow  \r\n  \r\nmake your fingers soft and light  \r\nlet your body be the velvet of the night  \r\ntouch my soul, you know how  \r\nandante, andante  \r\ngo slowly with me now  \r\n  \r\ni'm your music  \r\n(i am your music and i am your song)  \r\ni'm your song  \r\n(i am your music and i am your song)  \r\nplay me time and time again and make me strong  \r\n(play me again 'cause you're making me strong)  \r\nmake me sing, make me sound  \r\n(you make me sing and you make me)  \r\nandante, andante  \r\ntread lightly on my ground  \r\nandante, andante  \r\noh please don't let me down  \r\n  \r\nthere's a shimmer in your eyes  \r\nlike the feeling of a thousand butterflies  \r\nplease don't talk, go on, play  \r\nandante, andante  \r\nand let me float away  \r\n  \r\ni'm your music  \r\n(i am your music and i am your song)  \r\ni'm your song  \r\n(i am your music and i am your song)  \r\nplay me time and time again and make me strong  \r\n(play me again 'cause you're making me strong)  \r\nmake me sing, make me sound  \r\n(you make me sing and you make me)  \r\nandante, andante  \r\ntread lightly on my ground  \r\nandante, andante  \r\noh please don't let me down  \r\n  \r\nmake me sing, make me sound  \r\n(you make me sing and you make me)  \r\nandante, andante  \r\ntread lightly on my ground  \r\nandante, andante  \r\noh please don't let me down  \r\nandante, andante  \r\noh please don't let me down\r\n\r\n"

In [11]:
df['text']= df['text'].replace(r'\w\s' , ' ').replace(r'\n',' ',regex = True)

In [12]:
df['text'][0]

"look at her face, it's a wonderful face  \r and it means something special to me  \r look at the way that she smiles when she sees me  \r how lucky can one fellow be?  \r   \r she's just my kind of girl, she makes me feel fine  \r who could ever believe that she could be mine?  \r she's just my kind of girl, without her i'm blue  \r and if she ever leaves me what could i do, what could i do?  \r   \r and when we go for a walk in the park  \r and she holds me and squeezes my hand  \r we'll go on walking for hours and talking  \r about all the things that we plan  \r   \r she's just my kind of girl, she makes me feel fine  \r who could ever believe that she could be mine?  \r she's just my kind of girl, without her i'm blue  \r and if she ever leaves me what could i do, what could i do?\r \r "

In [13]:
import nltk
#nltk.download('punkt')
#nltk.download('punkt_tab') use if needed

In [14]:
from nltk.stem.porter import PorterStemmer

In [15]:
stemmer = PorterStemmer()

In [16]:
def token(txt):
    words = nltk.word_tokenize(txt) # split text into word
    a = [stemmer.stem(w) for w in words] # stem every word 
    return " ".join(a) # join those back to string

In [17]:
#just to chk
token("cats are running")

'cat are run'

In [18]:
df['text']=df['text'].apply(lambda x:token(x))

In [19]:
df

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"look at her face , it 's a wonder face and it ..."
1,ABBA,"Andante, Andante","take it easi with me , pleas touch me gentli l..."
2,ABBA,As Good As New,i 'll never know whi i had to go whi i had to ...
3,ABBA,Bang,make somebodi happi is a question of give and ...
4,ABBA,Bang-A-Boomerang,make somebodi happi is a question of give and ...
...,...,...,...
4995,Elvis Costello,Love For Tender,you wo n't take my love for tender you can put...
4996,Elvis Costello,Love Went Mad,i 've look at it everi way i can from under an...
4997,Elvis Costello,Lover's Walk,i wo n't walk with my head bow ( be on ) beyon...
4998,Elvis Costello,Luxembourg,dress up like a dog 's dinner butter would n't...
4999,Elvis Costello,Men Called Uncle,now there 's newsprint all over your face well...

In [20]:
import sklearn

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [23]:
matrix=tfid.fit_transform(df['text'])

In [24]:
similar = cosine_similarity(matrix)

In [25]:
similar[0]

array([1.        , 0.03574249, 0.01274505, ..., 0.06064107, 0.05738545,
       0.13443438])

In [37]:
df[df['song']=='Be Kind To Me'].index[0]

np.int64(1918)

In [35]:
def recommender(song_name):
    index = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[index])), reverse=True,key = lambda x:x[1])
    song=[]
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [36]:
recommender("Ahe's My Kind Of Girl")

['Be Kind To Me',
 'I Am Just A Girl',
 "That's Me",
 'If I Could Just See You Now']

In [39]:
recommender("That's Me")

['Married Men', "Ahe's My Kind Of Girl", 'Kimono Girl', 'I Am Just A Girl']